<!DOCTYPE html>
<html lang="en">
<head>
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WEB_DEV</title>
</head>
<body>
  <div class="container" >
<h1> website devloper </h1>
  <image  class="img-fluid" src="static/banner.jpeg.jpg" >
    <h2> About flask</h2>
    <P>
      Flask is a minimalistic yet versatile Python microframework renowned for its simplicity, flexibility, and efficiency. It empowers you to build web applications tailored to your exact requirements, from small-scale projects to dynamic and intricate APIs. Its straightforward design makes it perfect for beginners to web development, allowing you to grasp its core concepts quickly and begin coding right away.
      Lightweight & Efficient: Flask boasts a streamlined design, resulting in low resource consumption and swift performance. This is ideal for projects where memory availability or execution speed are paramount.
      Highly Customizable: Unlike monolithic frameworks, Flask doesn't impose its own structure. You have complete control over the application's architecture, enabling you to create bespoke designs that align precisely with your vision.
    </P>
    <h2 class = "text-center mt-2 mb-4"> Open positions </h2>
   <div>
     {% for job in jobs  %}
     <div class="border-bottom " style="margin-bottom:16px;padding-bottom:8px;">
       <div class>
   <h4 style="color:rgb(120,120,120)";margin-bottom4px;>
     {{job['title']}}</h4>
       <div>
         <b>Location:</b> {{job['location']}}
       </div>
       <div>
         <b>salary :</b> {{job['salary']}}
       </div>
       <button type="button" class="btn btn-outline-primary">Apply</button>
     </div>
     {% endfor %}
   </div>
    <div class="text-center">
      </div>
      <button class="btn btn-primary btn-lg"> Contact us </button>
      <p class="mt-4"> Copyright 2023, sameer</p>
    </div>
  </div>
</div>
</body>
</html>